<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Billsy</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icon_logo.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='home/dashboard.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    
</head>
<body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Billsy</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Billsy</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    More
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">{{session.email}}</a></li>
                    <li><a class="dropdown-item" href="#">My Profile</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Change Password</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      
      <div class="d-flex justify-content-around mt-5 p-5" id="invoiceCreateBtn">
        <button onclick="createNewInvoice()" type="button" class="btn btn-primary"><i class="fa-solid fa-file-invoice"></i> Create new invoice</button>
        <button type="button" class="btn btn-primary"><i class="fa-regular fa-folder-open"></i> Open Invoice</button>
      </div>

      <div class="justify-content-around mt-5 p-5" id="invoiceEditBtns">
        <button type="button" class="btn btn-info"  data-bs-toggle="modal" data-bs-target="#addNewRow"><i class="fa-solid fa-plus"></i> Add Row</button>
        <button type="button" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Delete Row</button>
        <button type="button" class="btn btn-success" id="printInvoice"><i class="fa-solid fa-print"></i> Print</button>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#saveInvoice"><i class="fa-regular fa-floppy-disk"></i> Save</button>
        <button type="button" class="btn btn-primary"><i class="fa-solid fa-share-nodes"></i> Share</button>
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#changeTheme"><i class="fa-solid fa-palette"></i> Change Theme</button>
      </div>

      <div class="invoiceMakingDiv">
          <div class="invoiceHeader">
            <div class="userAddress">
                <input type="text" value="Company Name" id="companyName" name="companyName"/><br>
                <input type="text" value="Address first line" id="addressFirstLine" name="addressFirstLine"/> <br>
                <input type="text" value="Address second line" id="addressSeocndLine" name="addressSecondLine"/> <br>
                <input type="text" value="State" id="addressState" name="addressState" /><br>
                <input type="text" value="Phone No. : +91 xxxxx xxxxx" id="userPhone" name="userPhone"/> <br>
                <input type="text" value="Email : user@domain.in" id="userEmailAddress" name="userEmailAddress"/> <br>
                <input type="text" value="Website : website.com" id="userWebsite" name="userWebsite"/> <br>
            </div>
            <img src="" alt="companyLogo" id="companyLogo">
          </div>

          <h1 id="invoiceTitle">Invoice</h1>
  
          <div class="billingInfo">
            <div class="billingInfoLeft">
              <h4>Bill To:</h4>
              <input type="text" value="Receiver Name" id="billerName" name="billerName"/><br>
              <textarea name="billingOtherInfo" id="billingOtherInfo" >adddress and other infomation of the client</textarea>
            </div>
            <div class="billingInfoRight">
              <b>Invoice No. : </b><input type="number" value="111" name="invoiceNo" id="invoiceNo"/><br>
              <b>Date : </b><input type="date" name="currentDate" id="currentDate"/><br>
            </div>
          </div>

          <div class="actualBill">
            <table class="upperTable" id="upperTable">
            <tr class="tableHead">
              <th>S.No.</th>
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Discount(%)</th>
              <th>Total</th>
            </tr>
            </table>
            <table class="lowerTable">
              <tr>
                <th>&nbsp;</th>
                <th>Total</th>
                <th>&nbsp;</th>
                <th></th>
                <th>&nbsp;</th>
                <th></th>
              </tr>
            </table>
            <div class="footerPartBill">
              <div class="footerBillLeftPart">
                <textarea name="additionalInfo" id="additionalInfo" >you can write any other info here or remove it if you dont want to add something else</textarea>
              </div>
              <div class="footerBillRightPart">
                <div class="subTotal">
                  <p><strong>Sub Total</strong></p>
                  <p id="subTotalAmount">0</p>
                </div>
                <div class="gst">
                  <p><strong>GST(%)</strong></p>
                  <input type="number" id="gstValue" value="18" name="gstValue" >
                </div>
                <div class="grandTotal">
                  <p><strong>Grand Total</strong></p>
                  <p id="grandTotalValue">0</p>
                </div>
              </div>
            </div>
          </div>

      </div>

      <!-- Modal add new row -->
      <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="addNewRow" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add new item</h5>
            </div>
            <div class="modal-body">
              <label for="productName">Product Name</label> <br>
              <input type="text" name="productName" id="productName" placeholder="Enter your product name">
              <br>
              <label for="productQuantity">Quantity</label> <br>
              <input type="number" name="productQuantity" id="productQuantity" placeholder="Enter your product quantity">
              <br>
              <label for="productPrice">Price</label> <br>
              <input type="number" name="productPrice" id="productPrice" placeholder="Enter your product price">
              <br>
              <label for="productDiscount">Discount (%)</label> <br>
              <input type="number" name="productDiscount" id="productDiscount" placeholder="Enter your product discount">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" id="addProduct">Add</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal change theme color -->
      <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="changeTheme" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Select Theme Color</h5>
            </div>
            <div class="modal-body">
              <div class="theme-custom-radio">
                <input type="radio" class="custom-radio-input" id="invoiceTheme1" name="invoiceTheme" value="1" checked>
                <label for="invoiceTheme1">Default Red</label>
              </div>
              <div class="theme-custom-radio">
                <input type="radio" class="custom-radio-input" id="invoiceTheme2" name="invoiceTheme" value="2">
                <label for="invoiceTheme2">App Blue</label>
              </div>
              <div class="theme-custom-radio">
                <input type="radio"class="custom-radio-input" id="invoiceTheme3" name="invoiceTheme" value="3">
                <label for="invoiceTheme3">Nature Green</label>
              </div>
              <div class="theme-custom-radio">
                <input type="radio" class="custom-radio-input" id="invoiceTheme4" name="invoiceTheme" value="4">
                <label for="invoiceTheme4">Sun Orange</label>
              </div>
              <div class="theme-custom-radio">
                <input type="radio" class="custom-radio-input" id="invoiceTheme5" name="invoiceTheme" value="5">
                <label for="invoiceTheme5">Animal Brown</label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" onclick="changeTheme()">Change</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal save your file -->
      <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="saveInvoice" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Enter your file name</h5>
            </div>
            <div class="modal-body">
              <input type="text" name="invoiceFileName" id="invoiceFileName" placeholder="Enter your file name" autofocus>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" onclick="saveInvoiceFunction()">Save</button>
            </div>
          </div>
        </div>
      </div>

      <div class="alert alert-success alert-position-bottom alert-dismissible fade show" id="productAddSuccessBox" role="alert">
        <div>
         <i class="fa-solid fa-circle-check"></i> <strong>Successfully</strong> added your product!!
        </div>
      </div>  

      <div class="alert alert-danger alert-position-bottom alert-dismissible fade show" id="productAddErrorBox" role="alert">
        <div>
          <i class="fa-solid fa-triangle-exclamation"></i> <strong>Error</strong> Please enter all data..
        </div>
      </div>  

      <script src="{{ url_for('static', filename='home/dashboard.js') }}"></script>
    </body>
</html>