body{
    overflow: hidden;
    background: #e9e9e9;
}

.loginContainer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 40px;
    border-radius: 10px;
    background: #fff;
}

.loginContainerInputAreas{
    border-right: 2px solid black;
    padding: 20px;
    height: auto;
    width: 45%;
}

.loginContainerLogo{
    letter-spacing: 4px;
    text-align: center;
}

.loginContainerLogo span{
    color: #141850;
}

.loginBox h2{
    margin-top: 20px;
    margin-bottom: 2px;
}

.loginBox p{
    margin-bottom: 20px;
}

input,
button{
    border: 0;
    outline: 0;
    width: 100%;
    padding: 15px;
}

button{
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    border: 2px solid #141850;
    background-color: transparent;
    color: #141850;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    transition: all 0.5s linear;
}

button:hover{
    background-color: #141850;
    color: #fff;
    border: 2px solid transparent;
}



#emailSection,
#passwordSection{
    margin-bottom: 10px;
}

.passwordInput,
.emailInput{
    border: 2px solid #141850;
    display: flex;
    align-items: center;
}

#openEye,
#closeEye{
    margin-right: 5px;
    cursor: pointer;
    transition: color 0.3s linear;
}

#openEye:hover,
#closeEye:hover{
    color: #ff0000;
}

.loginBox a{
    text-decoration: none;
}

.rememberMeDiv{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    
    text-align: center;
}

.rememberMeDiv input{
    width: 30px;
    height: 15px;
}