<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='preauth/login.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <title>Login | Billsy</title>
</head>
<body>
    <div class="loginContainer">
        <div class="loginContainerInputAreas">
            <h2 class="loginContainerLogo"><span>B</span>illsy</h2>
            <div class="loginBox">
                <h2>Log In</h2>
                <p>Please enter your details to continue</p>
                <form action="{{ url_for('login') }}" method="post" enctype="multipart/form-data">
                    <div id="emailSection">
                        <label for="loginEmail">Email Address</label>
                        <div class="emailInput">
                            <input type="email" name="loginEmail" placeholder="Enter your Email Address" id="loginEmail" autofocus required />
                        </div>
                    </div>
                    <div id="passwordSection">
                        <label for="loginPassword">Password</label>
                        <div class="passwordInput">
                            <input type="password" name="loginPassword" placeholder="Enter your Password" id="loginPassword" required />
                            <i id="openEye" class="fa-solid fa-eye"></i>
                            <i id="closeEye" class="fa-solid fa-eye-slash "></i>
                        </div>
                    </div>
                    <button type="submit" id="loginBtn">Login</button>
                </form>
                <a href="#">Forgot password</a> <br>
                <a href="{{ url_for('signup') }}">Not have an account? Register</a>
            </div>
        </div>
        <div class="loginContainerImageArea">

        </div>
    </div>

    <p class="freeLabTech">Powered by <a href="#">Free Lab Tech</a></p>
    <script src="{{ url_for('static', filename='preauth/login.js') }}"></script>
</body>
</html>