<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="icon" href="{{ url_for('static', filename='images/icon_logo.png')}}">
    <title>Billsy - Your Perfect Invoice Maker</title>
</head>
<body>
    <div class="containerBody">
        <div class="headerNavBar">
            <h2><span>B</span>illsy</h2>
            <div class="headerNavBarLinks">
                <a href="#">Pricing</a>
                <a href="#">Help</a>
            </div>
        </div>

        <div class="heroSection">
            <div class="heroSectionTextSection">
                <h1>billsy</h1>
                <h3>your perfect invoice maker</h3>
                <p>Introducing our user-friendly invoice-making web application! Streamline your billing process with ease and professionalism. Create, customize, and send personalized invoices to clients effortlessly. Track payments, manage expenses, and boost your financial efficiency. Experience seamless invoicing, empowering you to focus on what truly matters – your business's success. Try it today!</p>
                <a href="{{ url_for('login') }}" class="heroSectionBtn">Get Started</a>
            </div>
            <div class="heroSectionMiddleLine">

            </div>
            <div class="heroSectionImgSection">
                
            </div>
        </div>
    </div>
</body>
</html>